extends ../components/base/layout

block variables
  - const title = "О нас. — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--special header--black"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "about.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +apisoft()
    +digital-products()
    +our-services()
    +our-projects()
    +our-partners(ourPartnersTitle, ourPartnersItems)
    +send-message()


block modals
