extends ../components/base/layout

block variables
  - const title = "APISOFT — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--special"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +intro()
    +digital-products()
    +our-services()
    +our-projects()
    +our-partners(ourPartnersTitle, ourPartnersItems)
    +send-message()


block modals
