extends ../components/base/layout

block variables
  - const title = "APISOFT — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--special"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +intro()
    +digital-products().margin-bottom-108-92-72-55
    +our-services().margin-bottom-120-100-80-60
    +our-projects().margin-bottom-120
    +our-partners(ourPartnersTitle, ourPartnersItems).margin-bottom-80
    +send-message()


block modals
  +modal("modal--message modal--no-scale")(data-modal="message")
    +modal-message()
  +modal("modal--success modal--no-scale")(data-modal="success")
    +modal-success()
  +modal("modal--error modal--no-scale")(data-modal="error")
    +modal-error()
