extends ../components/base/layout

//-include ../data/our-projects-page-data

block variables
  - const title = "Наши проекты. APISOFT — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "our-projects.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .page-wrapper.page-wrapper--bottom
      section.our-projects-page
        .container
          +title-group(titleGroupOurProjects).title-group--none-picture

          .our-projects-page__container
            each item in ourProjectsPageView
              +projects-item(item)

    +send-message()

block modals
  +modal("modal--message modal--no-scale")(data-modal="message")
    +modal-message()
  +modal("modal--success modal--no-scale")(data-modal="success")
    +modal-success()
  +modal("modal--error modal--no-scale")(data-modal="error")
    +modal-error()
