extends ../components/base/layout

block variables
  - const title = "Наши партнеры. APISOFT — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "our-partners.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  //- const ourPartnersPageTitle = "Наши партнеры";

  //-
    const ourPartnersPageItems = [
      {
        title: "Битрикс24",
        text: "Битрикс24 — комплект бесплатных инструментовдля ведения бизнеса: CRM, конструктор сайтови интернет-магазинов, система управления проектами, контакт-центр и единое пространство для общения сотрудников компании",
        logo: ["bitrix24", 95, 17],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "1С-Битрикс",
        text: "«1С-Битрикс: Управление сайтом» — самая популярная коммерческая CMS по реальным установкам на сайтахсогласно рейтингу iTrack (на март 2021 года). Сайтына платформе «1С-Битрикс» — удобные, надежныеи высоко посещаемые",
        logo: ["1c", 58, 58],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "InSales",
        text: "inSales — единый инструмент управлениядля всех каналов онлайн-продаж: интернет-магазин, маркетплейсы, социальные сети и мессенджеры",
        logo: ["insales", 85, 26],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "МойСклад",
        text: "МойСклад — облачный сервис управления торговлей и складом с любого компьютера. Подходит для розничной, оптовой и онлайн-торговли, а также для производства",
        logo: ["mysklad", 99, 15],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "Мое дело",
        text: "«Моё дело» оповещает, как и когда платить налоги. Система рассчитывает страховые взносы, готовит платёжную и отчётную документацию, информируетоб изменениях в налоговом законодательстве и вносит соответствующие обновления в бухгалтерские проводки",
        logo: ["mybusiness", 100, 22],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "RetailCRM",
        text: "RetailCRM — CRM-система для конвертации лидовиз мессенджеров и соцсетей в заказы, сбора заказовиз всех офлайн- или онлайн-источников в единый список и раздачи операторам. Позволяет доводить сделкидо конца благодаря шаблонам ответов и напоминаний",
        logo: ["retail-crm", 89, 16],
        href: "#",
        textButton: "Перейти на сайт",
      },
    ];


block main
  main
    .page-wrapper
      section.our-partners-page
        .container
          h1.title-2=ourPartnersPageTitle
          .our-partners-page__wrapper
            each item in ourPartnersPageItems
              +partners-page-item(item)

block modals
