extends ../components/base/layout

block variables
  - const title = "Наши партнеры. APISOFT — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "our-partners.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .page-wrapper
      section.our-partners-page
        .container
          h1.title-2=ourPartnersPageTitle
          .our-partners-page__wrapper
            each item in ourPartnersPageItems
              +partners-page-item(item)

block modals
