extends ../components/base/layout

block variables
  - const title = "Реквизиты. APISOFT — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "properties.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .page-wrapper
      section.properties
        .container
          h1.title-2=propertiesTitle

          .properties__wrapper
            each block in propertiesData
              .properties__block
                h3.properties__title=block.title
                each group in block.propertiesSection
                  .properties__group
                    each item in group
                      .properties__item
                        p.properties__name=item.propertiesName
                        p.properties__value=item.propertiesValue

          .properties__list
            each item in propertiesLinks
              +panel-link(item)

block modals
