extends ../components/base/layout

block variables
  - const title = "Услуги и технологии. APISOFT — CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "services-tech.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main
  main
    .page-wrapper
      section.services-tech.margin-bottom-120-100-80-60
        .container
          +title-group(servicesTechTitleGroup)
          .services-tech__wrapper
            each item in servicesTechFeaturesList
              +services-page-item(item)
      +our-partners(ourServicesPartnersTitle, ourServicesPartnersItems, false).our-partners--960(data-tech-link)



block modals
  +modal("modal--message modal--no-scale")(data-modal="message")
    +modal-message()
  +modal("modal--success modal--no-scale")(data-modal="success")
    +modal-success()
  +modal("modal--error modal--no-scale")(data-modal="error")
    +modal-error()

