mixin apisoft()
  section.apisoft
    .container
      .apisoft__wrapper
        h1.visually-hidden=apisoft.title
        +icon(apisoft.logo[0], apisoft.logo[1], apisoft.logo[2])
        p.apisoft__about=apisoft.about
        p.apisoft__achievement=apisoft.achievement
