mixin digital-products()
  section.digital-products&attributes(attributes)
    .container
      .digital-products__image
        +picture("content", "digital-products-full", "jpg", 1108, 736, alt="abstract picture with theme digital product", true)
        .digital-products__image-text!=digitalProductsImageText
      .digital-products__content-info
        h2=digitalProductsTitle
        +digital-achievements()
