mixin intro()
  section#start.intro(data-trigger)
    .container
      h1=introTitle

    .intro__ticker
      .intro__ticker-wrapper
        each item in introItems
          +intro-item(item)
      .intro__ticker-wrapper
        each item in introItems
          +intro-item(item)

    .container
      .intro__info
        p=introText
        +btn({
          href: "#",
          icon: "arrow",
          text: introButtonText,
        })(data-open-modal="message")

      .intro__image
        +picture("content", "notebook", "png", 1116, 828, "Mac Book Pro", false)
