mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    //-.container
      h1 Автоматизируем интернет-бизнес

    //-.intro__slider.swiper
      .swiper-wrapper
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)
        .swiper-slide.intro__item
          span Логистика
          +icon("arrow", 20, 16)

