mixin our-projects()
  section.our-projects&attributes(attributes)
    .container
      .our-projects__title-group
        h2=ourProjectsTitle
        p=ourProjectsSubtitle
      .our-projects__wrapper
        .our-projects__container
          each item in ourProjectsView
            +projects-item(item)(data-projects-item)
        +btn({
          icon: "arrow",
          href: ourProjectsButton.href,
          text: ourProjectsButton.text,
        })
