.about-numbers {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: size(300px);
  padding-bottom: size(114px);

  background-color: $color-black-2;

  overflow: hidden;

  @include vp-479 {
    padding-top: size(250px);
    padding-bottom: size(40px);
  }

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    bottom: size(-781px);

    transform: translateX(-50%);

    width: size(1350px);
    height: size(1350px);
    border-radius: 50%;

    background-color: $color-blue;

    @include vp-479 {
      bottom: size(-200px);
      width: size(650px);
      height: size(650px);
    }
  }

  h2 {
    position: relative;
    z-index: 1;
    margin-bottom: size(84px);
    margin-left: auto;
    margin-right: auto;

    color: $color-default-white;

    @include vp-479 {
      margin-bottom: size(40px);
    }
  }

  .digital-achievements {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }

  &__picture {
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      border-radius: size(32px);

      object-fit: cover;

      @include vp-479 {
        border-radius: size(15px);
      }
    }

    @include vp-479 {
      //display: none;
    }
  }

  &__picture--0 {
    top: size(194px);
    left: size(-97px);

    width: size(471px);
    height: size(233px);

    @include vp-479 {
      top: size(100px);
      left: size(-60px);

      width: size(235px);
      height: size(116px);
    }
  }

  &__picture--1 {
    top:size(74px);
    right: size(87px);
    z-index: 3;

    width: size(430px);
    height: size(225px);

    @include vp-479 {
      top:size(40px);
      right: size(-40px);

      width: size(215px);
      height: size(112px);
    }
  }

  &__picture--2 {
    bottom: size(102px);
    right: size(-40px);

    width: size(281px);
    height: size(172px);

    @include vp-479 {
      display: none;
    }
  }
}
