.about-numbers {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: size(300px);
  padding-bottom: size(114px);

  background-color: $color-black-2;

  overflow: hidden;

  @include vp-1279 {
    padding-top: size(232px);
    padding-bottom: size(80px);
  }

  @include vp-959 {
    padding-top: size(225px);
    padding-bottom: size(60px);
  }

  @include vp-479 {
    padding-top: size(288px);
    padding-bottom: size(50px);
  }

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    bottom: size(-781px);

    transform: translateX(-50%);

    width: size(1350px);
    height: size(1350px);
    border-radius: 50%;

    background-color: $color-blue;

    @include vp-1279 {
      bottom: size(-435px);

      width: size(880px);
      height: size(880px);
    }

    @include vp-959 {
      bottom: size(-571px);

      width: size(930px);
      height: size(930px);
    }

    @include vp-479 {
      bottom: size(-193px);
      z-index: 1;

      width: size(600px);
      height: size(600px);
    }
  }

  h2 {
    position: relative;
    z-index: 1;
    margin-bottom: size(85px);
    margin-left: auto;
    margin-right: auto;

    color: $color-default-white;

    @include vp-1279 {
      margin-bottom: size(50px);
    }

    @include vp-959 {
      margin-bottom: size(40px);
    }

    @include vp-479 {
      margin-bottom: size(30px);
    }
  }

  .digital-achievements {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }

  &__picture {
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      border-radius: size(32px);

      object-fit: cover;

      @include vp-1279 {
        border-radius: size(18px);
      }

      @include vp-959 {
        border-radius: size(15px);
      }

      @include vp-479 {
        border-radius: size(10px);
      }
    }
  }

  &__picture--0 {
    top: size(194px);
    left: size(-97px);

    width: size(471px);
    height: size(233px);

    @include vp-1279 {
      top: size(126px);
      left: 0;

      width: size(280px);
      height: size(139px);
    }

    @include vp-959 {
      top: size(128px);
      left: size(-53px);

      width: size(262px);
      height: size(130px);
    }

    @include vp-479 {
      top: size(178px);
      left: size(15px);
      z-index: 0;

      width: size(193px);
      height: size(96px);
    }
  }

  &__picture--1 {
    top:size(74px);
    right: size(87px);
    z-index: 0;

    width: size(430px);
    height: size(225px);

    @include vp-1279 {
      top:size(40px);
      right: size(40px);

      width: size(292px);
      height: size(153px);
    }

    @include vp-959 {
      top:size(20px);
      right: size(20px);

      width: size(292px);
      height: size(153px);
    }

    @include vp-479 {
      top:size(30px);
      right: size(15px);

      width: size(226px);
      height: size(118px);
    }
  }

  &__picture--2 {
    bottom: size(102px);
    right: size(-40px);

    width: size(281px);
    height: size(172px);

    @include vp-1279 {
      display: none;
    }
  }
}
