.accordion {
  width: 100%;
  border-top: size(1px) solid #00000066;
  border-bottom: size(1px) solid #00000066;

  .accordion__element + .accordion__element {
    border-top: size(1px) solid #00000066;;
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: size(20px) 0;
    border: none;
    background-color: $color-default-white;
    cursor: pointer;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.7;
    }

    svg {
      width: size(20px);
      height: size(20px);
    }

    span {
      margin-right: size(30px);

      font-size: size(20px);
      line-height: size(26px);
    }
  }

  &__wrapper {
    padding: 0 0 size(20px) 0;

     p {
      margin: 0;

      font-size: size(16px);
      font-weight: 400;
      line-height: size(26px);
    }
  }
}

.is-active {
  button {
    svg {
      transform: rotate(180deg);
    }
  }
}
