.add-block {
  width: size(317px);
  border-radius: size(16px);
  padding: size(27px) size(30px);

  color: $color-default-white;

  background-color: rgba($color-default-white, 0.1);

  @include vp-767 {
    width: 100%;
    border-radius: size(10px);
    padding: size(15px);
  }

  p:first-child {
    margin: 0;
    margin-bottom: size(4px);

    font-size: 16px;
    line-height: 26px;
    color: rgba($color-default-white, 0.7)
  }

  p:last-child {
    margin: 0;

    font-weight: 500;
    font-size: size(20px);
    line-height: size(26px);
  }
}
