.apisoft {
  padding-top: size(184px);

  background-color: $color-black-2;

  color: $color-default-white;

  @include vp-1279 {
    padding-top: size(159px);
  }

  @include vp-479 {
    padding-top: size(120px);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding: size(70px);
    padding-top: size(118px);
    border-radius: size(60px);
    border: size(1px) solid $color-default-white;

    color: $color-default-white;
    text-align: center;

    @include vp-1279 {
      padding: size(50px);
      padding-top: size(110px);
      border-radius: size(40px);
    }

    @include vp-959 {
      padding: size(40px);
      padding-top: size(90px);
      border-radius: size(32px);
    }

    @include vp-479 {
      padding: size(60px) size(15px);
    }

    svg {
      display: block;

      width: size(851px);
      height: size(105px);
      margin-bottom: size(48px);
      margin-left: auto;
      margin-right: auto;

      @include vp-1279 {
        width: size(665px);
        height: size(82px);
        margin-bottom: size(40px);
      }

      @include vp-959 {
        width: size(530px);
        height: size(65px);
        margin-bottom: size(30px);
      }

      @include vp-479 {
        width: size(244px);
        height: size(30px);
        margin-bottom: size(30px);
      }
    }
  }

  &__about {
    width: size(857px);
    margin: 0 auto;

    font-weight: 500;
    font-size: size(24px);
    line-height: size(38px);

    @include vp-1279 {
      width: size(548px);

      font-size: size(20px);
      line-height: size(32px);
    }

    @include vp-959 {
      width: size(453px);

      font-size: size(16px);
      line-height: size(26px);
    }

    @include vp-479 {
      width: 100%;

      font-size: size(16px);
      line-height: size(26px);
    }
  }

  &__achievement {
    position: absolute;
    top: size(-65px);
    left: size(31px);

    display: flex;
    justify-content: center;
    align-items: center;

    width: size(250px);
    height: size(250px);
    border-radius: 50%;
    margin: 0;

    background-color: $color-blue;

    font-size: size(32px);
    line-height: size(35px);

    @include vp-1279 {
      top: size(-57px);
      left: size(30px);

      width: size(150px);
      height: size(150px);

      font-size: size(20px);
      line-height: size(22px);
    }

    @include vp-959 {
      top: size(-41px);
      left: size(30px);

      width: size(120px);
      height: size(120px);

      font-size: size(16px);
      line-height: size(18px);
    }

    @include vp-479 {
      top: auto;
      left: size(20px);
      bottom: size(-70px);
      z-index: 3;
    }
  }
}
