.btn {
  display: inline-flex;
  align-items: center;

  padding: 0;
  border: none;

  color: $color-blue;

  background-color: $color-transparent;

  cursor: pointer;

  @include hover-focus {
    .btn__text {
      color: $color-blue;
    }
  }

  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;

    width: size(50px);
    min-height: size(30px);
    border-radius: size(100px);
    border: size(1px) solid $color-blue;

    color: $color-blue;
    font-weight: 500;
    font-size: size(14px);
    line-height: size(17px);

    transition: background-color $trans-default, color $trans-default, border-color $trans-default;
  }

  &__text {
    margin-left: size(10px);

    font-weight: 500;
    font-size: size(18px);
    line-height: size(22px);
    color: $color-black;

    transition: color $trans-default;

    @include vp-1279 {
      font-size: size(16px);
      line-height: size(18px);
    }

    @include vp-479 {
      font-size: size(14px);
      line-height: size(16px);
    }
  }

  &--only-icon {
    .btn__text {
      display: none;
    }
  }

  &--white {
    .icon {
      color: $color-blue;

      background-color: $color-default-white;
    }

    .btn__text {
      color: $color-default-white;

      transition: opacity $trans-default;
    }

    @include hover-focus {
      .btn__text {
        color: $color-default-white;
        opacity: 0.8;
      }
    }
  }

  &--rotation {
    .icon {
      svg {
        transform: rotate(-45deg);
      }
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
