.connect-us {
  position: relative;

  display: flex;

  min-height: size(227px);
  padding: size(40px);
  border-radius: size(40px);

  color: $color-default-white;

  background-color: $color-blue;

  @include vp-1279 {
    min-height: size(210px);
  }

  @include vp-479 {
    flex-direction: column;

    min-height: initial;
    padding: size(50px) size(20px);
    padding-top: size(90px);
    border-radius: size(24px);
  }

  &__main {
    p {
      margin: 0;
      margin-bottom: size(50px);

      font-weight: 500;
      font-size: size(20px);
      line-height: size(26px);

      @include vp-1279 {
        font-size: size(16px);
        line-height: size(21px);
      }

      @include vp-479 {
        margin-bottom: size(30px);

        font-size: size(14px);
        line-height: size(18px);
      }
    }

    button {
      display: inline-flex;
      justify-content: center;

      padding: size(12px) size(24px) size(14px) size(24px);
      border-radius: size(15px);
      border: none;
      margin-top: auto;

      font-weight: 600;
      font-size: size(16px);
      line-height: size(19px);

      color: $color-black;

      transition: opacity $trans-default;

      @include vp-1279 {
        padding: size(12px) size(24px) size(12px) size(24px);

        font-size: size(14px);
        line-height: size(17px);
      }

      @include vp-479 {
        width: 100%;
      }

      @include hover-focus {
        opacity: 0.7;
      }
    }

    svg {
      position: absolute;
      top: size(40px);
      right: size(30px);

      width: size(40px);
      height: size(40px);

      @include vp-479 {
        top: size(50px);
        right: auto;
        left: size(20px);

        width: size(25px);
        height: size(25px);
      }
    }
  }
}

.connect-us--mail {
  .connect-us__main {
    width: size(435px);

    @include vp-479 {
      width: 100%;
    }
  }

  svg {
    top: size(40px);
    right: size(40px);

    width: size(42px);
    height: size(30px);

    @include vp-479 {
      top: size(50px);
      right: auto;
      left: size(20px);

      width: size(28px);
      height: size(20px);
    }
  }
}

.connect-us--fill {
  .connect-us__main {
    width: size(450px);

    @include vp-479 {
      width: 100%;
    }
  }

  svg {
    top: size(30px);
    right: size(60px);

    width: size(40px);
    height: size(40px);

    @include vp-479 {
      top: size(50px);
      right: auto;
      left: size(20px);

      width: size(27px);
      height: size(27px);
    }
  }
}

.connect-us--add {
  padding: size(50px);
  min-height: size(211px);

  @include vp-479 {
    padding: size(20px);
  }

  .connect-us__main {
    width: size(500px);
    margin-right: size(50px);

    @include vp-479 {
      display: contents;

      width: 100%;
      margin-right: 0;
      margin-bottom: size(25px);
    }

    p {
      margin-bottom: size(45px);
      font-size: size(32px);
      line-height: size(22px);

      @include vp-479 {
        width: size(200px);
        margin-bottom: size(30px);

        font-size: size(20px);
        line-height: size(26px);
      }
    }

    button {
      @include vp-479 {
        order: 2;
        margin-right: auto;
      }
    }
  }

  .connect-us__add {
    display: flex;
    gap: size(10px);
    margin-left: auto;

    @include vp-479 {
      flex-direction: column;
      margin-left: 0;
      margin-bottom: size(30px);
    }
  }
}

