.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;

      width: 100%;
      min-height: size(60px);
      padding: size(17px) size(23px) size(19px) size(23px);
      border: size(1px) solid rgba($color-default-white, 0.7);
      border-radius: size(15px);

      font-size: size(16px);
      line-height: size(22px);
      color: $color-default-white;

      background-color: $color-blue;
      outline: none;
      transition: border $trans-default, background-color $trans-default, color $trans-default;

      @include vp-479 {
        max-width: unset;
        width: 100%;
        min-height: size(50px);
        padding: size(13px) size(15px) size(15px) size(15px);
        border-radius: size(10px);

        font-size: size(14px);
        font-weight: 400;
        line-height: size(20px);
      }

      &::placeholder {
        color: $color-default-white;
        -webkit-text-fill-color: $color-default-white;
        opacity: 0.7;
      }

      &:hover {
        border: 1px solid rgba($color-default-white, 0.1);

        // background-color: rgba($color-default-white, 0.1);

        // color: rgba($color-default-white, 0.8);
      }

      &:focus {
        border: 1px solid $color-default-white;
        background-color: rgba($color-default-white, 0.1);

      }
    }

    textarea {
      min-height: size(120px);
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      //border: 1px solid $color-default-white;
      border: 1px solid #ff1553;
      background-color: $color-default-white;

      color: $color-black;

      &::placeholder {
        color: $color-black;
        -webkit-text-fill-color: $color-black;
      }
      /*
      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
      */
      &:focus {
        &::placeholder {
          color: rgba($color-default-white, 0.7);
          -webkit-text-fill-color: rgba($color-default-white, 0.7);
        }
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid $color-default-white;
      //color: red;
      /*
      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
      */
    }
  }

  .input-message {
    position: absolute;
    left: (24px);
    bottom: size(-26px);

    &.is-invalid {
      // color: #ff0000;

      font-size: size(14px);
      line-height: size(21px);
      color: $color-default-white;
    }
    /*
    &.is-valid {
      color: #15ab07;
    }
    */
  }
}

