.custom-toggle {
  position: relative;

  display: flex;
  align-items: center;

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &--checkbox {
    width: size(22px);
    height: size(22px);
    background-color: $color-transparent;

    .custom-toggle__icon {
      width: 100%;
      height: 100%;
      border-radius: size(5px);
      border: size(1px) solid $color-default-white;

      &::before {
        content: "";
        display: block;

        width: 100%;
        height: 100%;
        background-image: url("../img/svg/check.svg");
        background-repeat: no-repeat;
        background-position: center;

        opacity: 0;
        transition: opacity $trans-default;
      }
    }
  }

  &--radio {
    width: size(16px);
    height: size(16px);
    .custom-toggle__icon {

      width: 100%;
      height: 100%;

      border-radius: 50%;

      transition: border 0.3s ease;

      &::before {
        content: "";
        display: block;

        width: 100%;
        height: 100%;

        border-radius: 50%;

        background-color: $color-default-white;

        transition: opacity $trans-default;
        opacity: 0;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    &::before {
      opacity: 1;
    }
  }

  &.is-invalid {
    label span {
      color: #ff1553;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  width: size(44px);
  height: size(24px);
  padding: size(3px);
  border-radius: size(35px);
  border: size(1px) solid $color-default-white;
}
