.documents {
  h1.title-2 {
    margin-bottom: size(67px);

    @include vp-767 {
      margin-bottom: size(36px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: size(10px);
  }
}
