.documents {
  h1.title-2 {
    margin-bottom: size(35px);

    @include vp-1279 {
      margin-bottom: size(30px);
    }

    @include vp-479 {
      margin-bottom: size(25px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: size(10px);
  }
}
