.features-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: size(11px) size(19px);
  border-radius: size(12px);
  border: size(1px) solid rgba($color-blue, 0.6);

  font-size: size(16px);
  line-height: size(24px);

  @include vp-479 {
    border-radius: size(8px);
    padding: size(5px) size(10px);

    font-size: size(14px);
    line-height: size(18px);
  }
}
