.form {
  width: size(600px);
  margin: 0 auto;

  @include vp-1279 {
    width: size(525px);
  }

  @include vp-479 {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form__fields {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: size(15px);

    margin-bottom: size(40px);

    @include vp-1279 {
      gap: size(8px);

      margin-bottom: size(30px);

      .custom-input {
        width: calc((100% - #{size(8px)}) / 2);
      }
    }

    @include vp-479 {
      .custom-input {
        width: 100%;
      }
    }
  }

  p {
    margin: 0 auto size(32px) auto;

    font-size: size(14px);
    line-height: size(20px);

    opacity: 0.7;

    @include vp-479 {
      width: 100%;
    }
  }

  a {
    text-decoration: underline;
    color: rgba($color-default-white, 0.7);

    transition: color $trans-default;

    @include hover-focus {
      color: $color-default-white;
    }
  }

  .btn {
    margin: 0 auto;

    .btn__text {
      transition: opacity $trans-default;
    }

    @include hover-focus {
      .btn__text {
        opacity: 0.8;
      }
    }
  }

}

.form--modal {
  width: 100%;

  .form__fields {
    gap: size(8px);
  }

  .custom-input {
    //width: calc((100% - #{size(12px)}) / 2);
    width: auto;
    flex-grow: 1;

    @include vp-479 {
      width: 100%;
    }
  }
}
