.intro {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: size(235px);
  padding-bottom: size(312px);

  @include vp-1279 {
    padding-top: size(155px);
    padding-bottom: size(100px);
  }

  @include vp-959 {
    padding-top: size(144px);
    padding-bottom: size(34px);
  }

  @include vp-479 {
    padding-top: size(91px);
    padding-bottom: size(55px);
  }

  .container {
    position: relative;
  }

  h1 {
    width: size(604px);
    margin-bottom: size(55px);

    @include vp-1279 {
      width: size(420px);
      margin-bottom: size(45px);
      letter-spacing: -0.03em;
    }

    @include vp-479 {
      width: 100%;
      margin-bottom: size(25px);
    }
  }

  &__ticker {
    display: flex;
    gap: size(5px);

    width: calc(size(218px) + 100% + size(168px));
    margin-bottom: size(63px);

    @include vp-1279 {
      order: 2;

      width: size(1653px);
      margin-bottom: 0;
    }

    @include vp-959 {
      width: size(1296px);
      gap: size(4px);
    }

    @include vp-479 {
      width: calc(size(1296px));
    }
  }

  &__ticker-wrapper {
    display: flex;
    gap: size(5px);

    animation-name: marquee-moving;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    @include vp-959 {
      gap: size(4px);
    }
  }

  &__info {
    width: size(500px);

    @include vp-1279 {
      width: size(430px);
      margin-bottom: size(169px)
    }

    @include vp-959 {
      width: size(340px);
      margin-bottom: size(147px)
    }

    @include vp-479 {
      width: size(260px);
      margin-bottom: size(323px)
    }

    p {
      margin: 0;
      margin-bottom: size(53px);

      font-size: size(24px);
      line-height: size(31px);

      @include vp-1279 {
        margin-bottom: size(25px);

        font-size: size(20px);
        line-height: size(26px);
      }

      @include vp-959 {
        margin-bottom: size(25px);

        font-size: size(16px);
        line-height: size(21px);
      }

      @include vp-479 {
        margin-bottom: size(25px);

        font-size: size(16px);
        line-height: size(21px);
      }
    }

    .btn {
      transition: color $trans-default;

      @include hover-focus {
        .btn__text {
          color: $color-blue;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: size(-440px);
    right: size(-165px);
    z-index: 2;

    width: size(1116px);
    aspect-ratio: 1116 / 828;

    @include vp-1279 {
      top: size(-210px);
      right: size(-138px);

      width: size(606px);
    }

    @include vp-959 {
      top: size(-180px);
      right: size(-100px);

      width: size(508px);
    }

    @include vp-479 {
      top: size(150px);
      right: size(-68px);

      width: size(347px);
      aspect-ratio: 347 / 257;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &::after {
      position: absolute;
      bottom: size(-84px);
      left: size(391px);
      z-index: -1;

      content: "";
      width: size(588px);
      height: size(588px);
      border-radius: 50%;

      background-color: $color-blue;

      @include vp-1279 {
        top: size(144px);
        left: size(34px);

        width: size(300px);
        height: size(300px);
      }

      @include vp-959 {
        top: size(75px);
        left: size(68px);

        width: size(300px);
        height: size(300px);
      }

      @include vp-479 {
        top: size(27px);
        left: size(29px);

        width: size(243px);
        height: size(243px);
      }
    }
  }
}

@keyframes marquee-moving {
  0% {
    transform: translateZ(0) translateX(0);
  }

  100% {
    transform: translateZ(0) translateX(-100%);
  }
}

