.logo {
  display: flex;
  color: $color-black;

  transition: opacity $trans-default;

  svg {
    width: size(216px);
    height: size(25px);
  }

  @include vp-479 {
    svg {
      width: size(134px);
      height: size(16px);
    }
  }
}

[href].logo {
  @include hover-focus {
    opacity: 0.7;
  }
}

.logo--hero {
  width: size(851px);
  height: size(105px);
  color: $color-default-white;
}
