.logo {
  display: flex;
  color: $color-black;

  transition: opacity $trans-default;

  svg {
    width: size(216px);
    height: size(25px);
  }

  @include vp-479 {
    svg {
      width: size(134px);
      height: size(16px);
    }
  }
}
