.margin-bottom-108-92-72-55 {
  margin-bottom: size(108px);

  @include vp-1279 {
    margin-bottom: size(92px);
  }

  @include vp-959 {
    margin-bottom: size(72px);
  }

  @include vp-479 {
    margin-bottom: size(55px);
  }
}

.margin-bottom-120-100-80-60 {
  margin-bottom: size(180px);

  @include vp-1279 {
    margin-bottom: size(100px);
  }

  @include vp-959 {
    margin-bottom: size(80px);
  }

  @include vp-479 {
    margin-bottom: size(60px);
  }
}


.margin-bottom-120 {
  margin-bottom: size(105px);

  @include vp-479 {
    margin-bottom: size(54px);
  }
}

.margin-bottom-100 {
  margin-bottom: size(100px);

  @include vp-479 {
    margin-bottom: size(50px);
  }
}

.margin-bottom-80 {
  margin-bottom: size(80px);

  @include vp-479 {
    margin-bottom: size(50px);
  }
}
