.margin-bottom-120 {
  margin-bottom: size(105px);

  @include vp-767 {
    margin-bottom: size(54px);
  }
}

.margin-bottom-100 {
  margin-bottom: size(100px);

  @include vp-767 {
    margin-bottom: size(50px);
  }
}

.margin-bottom-80 {
  margin-bottom: size(80px);

  @include vp-767 {
    margin-bottom: size(50px);
  }
}
