.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: size(60px) size(40px);

    @include vp-479 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: size(800px);
    padding: size(50px);
    padding-top: size(80px);
    border-radius: size(31px);

    background-color: $color-blue;

    color: $color-default-white;

    @include vp-479 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: size(80px);
    right: size(50px);
    z-index: 1;

    width: size(40px);
    height: size(40px);
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;

    transition: opacity $trans-default;

    svg {
      width: size(40px);
      height: size(40px);
    }

    @include hover-focus {
      opacity: 0.5;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-479 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal--message {
  .modal__title {
    margin: 0;
    margin-bottom: size(26px);

    font-size: size(54px);
    line-height: size(38px);
  }

  .modal__subtitle {
    margin: 0;
    margin-bottom: size(61px);
  }
}

.modal--success,
.modal--error {
  .modal__content {
    padding: size(60px) size(50px) size(70px) size(50px);
  }

  .modal__title {
    margin: 0;
    margin-bottom: size(26px);

    font-size: size(32px);
    line-height: size(35px);
  }

  .modal__subtitle {
    margin: 0;

    font-size: size(16px);
    line-height: size(22px);
  }
}
