.modules-item {
  display: flex;
  flex-direction: column;

  min-height: size(200px);
  border-radius: size(24px);
  padding: size(39px) size(29px);
  border: size(1px) solid $color-blue;

  transition: background-color $trans-default, color $trans-default;

  @include vp-1279 {
    min-height: size(150px);
    border-radius: size(14px);
  }

  @include vp-479 {
    border-radius: size(16px);
    padding: size(15px);
  }

  h4 {
    margin: 0;
    margin-bottom: size(30px);

    font-size: size(32px);
    line-height: size(22px);
    font-weight: 400;

    @include vp-1279 {
      margin-bottom: size(14px);

      font-size: size(20px);
      line-height: size(22px);
    }

    @include vp-479 {
      margin-bottom: size(10px);
    }
  }

  p {
    margin: 0;

    font-size: size(16px);
    line-height: size(24px);

    @include vp-959 {
      font-size: size(14px);
      line-height: size(21px);
    }
  }

  @include hover-focus {
    background-color: $color-blue;
    color: $color-default-white;
  }
}
