.modules {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: size(80px);

    width: 100%;

    @include vp-1279 {
      gap: size(50px);
    }

    @include vp-959 {
      gap: size(40px);
    }

    @include vp-479 {
      gap: size(50px);
    }
  }

  .title-group {
    .title-group__text {
      width: size(339px);

      @include vp-1279 {
        width: size(252px);
      }
    }
  }
}
