.modules-item {
  display: flex;
  flex-direction: column;

  border-radius: size(24px);
  padding: size(39px) size(29px);
  border: size(1px) solid $color-blue;

  transition: background-color $trans-default, color $trans-default;

  @include vp-767 {
    border-radius: size(16px);
    padding: size(15px);
  }

  h4 {
    margin: 0;
    margin-bottom: size(30px);

    font-size: size(32px);
    line-height: size(22px);
    font-weight: 400;

    @include vp-767 {
      margin-bottom: size(20px);

      font-size: size(18px);
    }
  }

  p {
    margin: 0;

    font-size: 16px;
    line-height: 24px;

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  @include hover-focus {
    background-color: $color-blue;
    color: $color-default-white;
  }
}
