.our-principles {
  &__title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: size(35px);

    @include vp-1279 {
      margin-bottom: size(30px);
    }

    @include vp-479 {
      flex-direction: column;
      justify-content: initial;
      align-items: initial;
      margin-bottom: size(25px);
    }

    h2 {
      @include vp-479 {
        margin-bottom: size(20px);
      }
    }

    p {
      width: size(345px);
      margin: 0;
      margin-left: size(30px);

      font-size: size(16px);
      font-weight: 600;
      line-height: size(24px);
      color: $color-blue;

      @include vp-479 {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    gap: size(8px);

    @include vp-1279 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-479 {
      grid-template-columns: 1fr;
      grid-auto-rows: initial;
    }
  }
}
