.our-projects-page {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: size(20px);

    @include vp-959 {
      gap: size(10px);
    }

    @include vp-479 {
      width: 100%;
    }
  }
}
