.our-partners {
  /*
  margin-bottom: size(78px);

  @include vp-479 {
    margin-bottom: size(60px);
  }
  */

  h2 {
    margin-bottom: size(38px);

    @include vp-479 {
      margin-bottom: size(26px);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    gap: size(16px);

    @include vp-479 {
      grid-template-columns: 1fr 1fr;
      gap: size(6px);
    }
  }
}
/*
.our-partners--services {
  margin-bottom: size(100px);

  @include vp-479 {
    margin-bottom: size(60px);
  }
}
*/
