.our-projects-page {
  //padding-top: size(70px);//56

  @include vp-479 {
    //padding-bottom: size(50px);
  }
  /*
  &__title-group {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;

    margin-bottom: size(80px);

    @include vp-479 {
      //flex-direction: column;
      //justify-content: initial;
      //align-items: initial;

      margin-bottom: size(30px);
    }

    h2 {
      margin-bottom: size(38px);

      @include vp-479 {
        margin-bottom: size(9px);
      }
    }

    p {
      margin: 0;
      //margin-left: size(30px);

      font-weight: 500;
      font-size: size(20px);
      line-height: size(24px);
      color: $color-blue;

      @include vp-479 {
        width: size(200px);
        margin-left: 0;

        font-size: size(14px);
        line-height: size(20px);
      }
    }
  }
  */
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: size(20px);

    @include vp-479 {
      width: 100%;
      gap: size(10px);

    }
  }

}
