.our-partners-page {
  h1.title-2 {
    margin-bottom: size(35px);

    @include vp-1279 {
      margin-bottom: size(30px);
    }

    @include vp-479 {
      margin-bottom: size(25px);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    gap: size(20px);

    @include vp-1279 {
      grid-template-columns: 1fr;
    }

    @include vp-959 {
      gap: size(10px);
    }

    @include vp-479 {
      grid-template-columns: 1fr;
    }
  }
}

.our-partners-page--960 {
  .our-partners-page__wrapper {
    @include vp-1279 {
      grid-template-columns: 1fr 1fr;
      gap: size(10px);
    }

    @include vp-959 {
      grid-template-columns: 1fr;
    }
  }
}

