.page-wrapper {
  padding-top: size(160px);
  // padding-top: size(70px);
  padding-bottom: size(100px);

  @include vp-479 {
    padding-top: size(114px);
    // padding-top: size(40px);
    padding-bottom: size(60px);
  }

  .our-partners {
    margin-bottom: 0;
  }
}

.page-wrapper--button {
  padding-bottom: size(80px);

  @include vp-479 {
    padding-bottom: size(50px);
  }
}
