.page-wrapper {
  padding-top: size(160px);
  padding-bottom: size(120px);

  @include vp-1279 {
    padding-top: size(120px);
    padding-bottom: size(100px);
  }

  @include vp-959 {
    padding-bottom: size(80px);
  }

  @include vp-479 {
    padding-bottom: size(60px);
  }

  .our-partners {
    margin-bottom: 0;
  }
}

.page-wrapper--button {
  padding-bottom: size(80px);

  @include vp-479 {
    padding-bottom: size(50px);
  }
}
