.panel-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: size(110px);
  padding: size(39px);
  border-radius: size(24px);
  border: size(1px) solid $color-blue;

  background-color: $color-default-white;

  @include vp-767 {
    min-height: initial;
    border-radius: size(16px);
    padding: size(20px);
  }

  h3 {
    display: inline-flex;
    flex-wrap: wrap;

    margin: 0;
    margin-right: size(30px);

    font-size: size(32px);
    line-height: size(22px);

    @include vp-767 {
      width: size(215px);
      margin-right: size(16px);

      font-size: size(16px);
    }

    span {
      margin-left: size(15px);
      margin-bottom: auto;

      font-size: size(18px);
      line-height: size(18px);// 31
      color: #9B9BB4;

      @include vp-767 {
        order: -1;
        margin-left: 0;
        margin-bottom: size(10px);

        font-size: size(14px);
        line-height: size(14px)
      }

    }
  }

  .icon {
    flex-shrink: 0;
  }

  @include hover-focus {
    background-color: $color-blue;
    color: $color-default-white;

    .icon {
      color: $color-blue;

      background-color: $color-default-white;
    }
  }
}

.panel-link--document {
  .icon {
    svg {
      transform: rotate(-45deg);
    }
  }
}

.panel-link--download {
  .icon {
    svg {
      transform: rotate(90deg);
    }
  }
}
