.panel-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: size(110px);
  padding: size(39px);
  border-radius: size(24px);
  border: size(1px) solid $color-blue;

  background-color: $color-default-white;

  @include vp-1279 {
    min-height: size(70px);
    padding: size(19px);
    border-radius: size(18px);
  }

  @include vp-479 {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    min-height: initial;
    padding: size(30px) size(20px);
  }

  h3 {
    position: relative;

    display: inline-flex;
    flex-wrap: wrap;

    margin: 0;
    margin-right: size(30px);

    font-size: size(32px);
    line-height: size(30px);

    @include vp-1279 {
      font-size: size(20px);
      line-height: size(20px);
    }

    @include vp-479 {
      width: 100%;
      margin-right: 0;
      padding-right: size(50px);
      margin-bottom: size(30px);
      display: flex;
      justify-content: space-between;
    }

    span {
      margin-left: size(15px);
      margin-bottom: auto;

      font-size: size(18px);
      line-height: size(18px);// 31
      color: #9B9BB4;

      @include vp-1279 {
        font-size: size(14px);
        line-height: size(14px);// 31
      }

      @include vp-479 {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .icon {
    flex-shrink: 0;
  }

  @include hover-focus {
    background-color: $color-blue;
    color: $color-default-white;

    .icon {
      color: $color-blue;

      background-color: $color-default-white;
    }
  }
}

.panel-link--document {
  .icon {
    svg {
      transform: rotate(-45deg);
    }
  }
}

.panel-link--download {
  .icon {
    svg {
      transform: rotate(90deg);
    }
  }
}
