.partners-item {
  display: grid;

  aspect-ratio: 220 / 220;

  border-radius: size(20px);
  border: size(1px) solid $color-blue;

  overflow: hidden;

  @include hover-focus {
    .partners-item__icon-logo {
      opacity: 1;
    }

    .partners-item__icon-arrow {
      opacity: 1;
    }
  }

  @include vp-1279 {
    border-radius: size(10px);
  }

  & > * {
    grid-area: 1 / -1;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: size(20px);

    @include vp-1279 {
      padding: size(15px);
    }

    span {
      font-size: size(20px);
      line-height: size(26px);
      text-align: center;

      @include vp-1279 {
        font-size: size(16px);
        line-height: size(21px);
      }

      @include vp-479 {
        font-size: size(14px);
        line-height: size(20px);
      }
    }
  }

  &__icon-logo {
    display: flex;

    background-color: $color-blue;

    opacity: 0;

    transition: opacity $trans-default;

    border-radius: size(20px);
    overflow: hidden;

    @include vp-1279 {
      border-radius: size(10px);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;

      object-fit: cover;
    }

    svg {
      width: size(120px);
      height: size(120px);
      margin: auto;

      @include vp-1279 {
        width: size(100px);
        height: size(100px);
      }
    }
  }

  &__icon-arrow {
    display: flex;

    opacity: 0;

    transition: opacity $trans-default;

    .icon {
      width: size(50px);
      height: size(30px);
      margin: auto;
      margin-bottom: size(19px);

      background-color: $color-default-white;
      color: $color-blue;

      @include vp-1279 {
        margin-bottom: size(15px);
      }
    }
  }
}

.partners-item--empty {
  opacity: 0;
  pointer-events: none;
}

.partners-item.partners-item--empty.partners-item--empty-first {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @include vp-479 {
    display: none;
  }
}

.partners-item.partners-item--empty.partners-item--empty-second {
  grid-column: 5 / 6;
  grid-row: 1 / 2;

  @include vp-1279 {
    display: none;
  }
}

.partners-item.partners-item--empty.partners-item--empty-third {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include vp-1279 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  @include vp-479 {
    display: none;
  }
}

.partners-item.partners-item--empty.partners-item--empty-fourth {
  grid-column: 4 / 5;
  grid-row: 2 / 3;

  @include vp-1279 {
    display: none;
  }
}


.partners-item--arrow {
  .partners-item__icon-logo {
    svg {
      margin: 0 auto;
      margin-bottom: auto;
    }
  }
}

