.principles-item {
  display: flex;
  flex-direction: column;

  padding: size(29px);
  padding-bottom: size(40px);
  border-radius: size(24px);
  border: size(1px) solid $color-blue;

  @include vp-959 {
    padding: size(30px) size(20px);
    border-radius: size(18px);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: size(60px);
    height: size(60px);
    margin-bottom: size(40px);
    padding: size(14px);
    border-radius: size(10px);

    background-color: $color-blue;

    @include vp-1279 {
      margin-bottom: size(30px);
    }

    @include vp-959 {
      width: size(46px);
      height: size(46px);
      margin-bottom: size(24px);
    }

    svg {
      width: size(32px);
      height: size(32px);

      @include vp-959 {
        width: size(25px);
        height: size(25px);
      }
    }
  }

  h3 {
    margin: 0;
    margin-bottom: size(12px);

    font-size: size(20px);
    font-weight: 500;
    line-height: size(26px);

    @include vp-1279 {
      font-size: size(20px);
      font-weight: 400;
      line-height: size(26px);
    }
  }

  p {
    margin: 0;

    font-size: size(16px);
    line-height: size(26px);
  }
}

.principles-item--special {
  @media (min-width: 480px) {
    grid-column: span 2;
  }
}


/*
.principles-item {
  display: flex;
  flex-direction: column;

  padding: size(29px);
  padding-bottom: size(40px);
  border-radius: size(24px);
  border: size(1px) solid $color-blue;

  @include vp-959 {
    padding: size(30px) size(20px);
    border-radius: size(18px);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: size(60px);
    height: size(60px);
    margin-bottom: size(40px);
    padding: size(14px);
    border-radius: size(10px);

    background-color: $color-blue;

    @include vp-1279 {
      margin-bottom: size(30px);
    }

    @include vp-959 {
      width: size(46px);
      height: size(46px);
      margin-bottom: size(24px);
    }

    svg {
      width: size(32px);
      height: size(32px);

      @include vp-959 {
        width: size(25px);
        height: size(25px);
      }
    }
  }

  h3 {
    margin: 0;
    margin-bottom: size(12px);

    font-size: size(20px);
    font-weight: 500;
    line-height: size(26px);

    @include vp-1279 {
      font-size: size(20px);
      font-weight: 400;
      line-height: size(26px);
    }
  }

  p {
    margin: 0;

    font-size: size(16px);
    line-height: size(26px);
  }
}

.principles-item--special {
  @media (min-width: 480px) {
    grid-column: span 2;
  }
}
*/
