.project-stages {
  padding-top: size(120px);
  padding-bottom: size(120px);

  background-color: $color-black-2;

  @include vp-1279 {
    padding-top: size(90px);
    padding-bottom: size(90px);
  }

  @include vp-959 {
    padding-top: size(80px);
    padding-bottom: size(80px);
  }

  @include vp-479 {
    padding-top: size(60px);
    padding-bottom: size(40px);
  }

  h2 {
    color: $color-default-white;

    margin-bottom: size(35px);

    @include vp-1279 {
      margin-bottom: size(30px);
    }

    @include vp-479 {
      margin-bottom: size(25px);
    }
  }

  &__main {
    display: flex;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: size(12px);

    width: size(450px);
    margin-right: size(100px);

    @include vp-1279 {
      gap: size(10px);

      width: size(293px);
      margin-right: size(20px);
    }

    @include vp-959 {
      width: size(263px);
    }

    @include vp-479 {
      display: none;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: size(20px);
    padding-top: size(18px);
    border-radius: size(16px);
    border: none;

    background-color: rgba($color-default-white, 0.05);

    color: $color-default-white;
    cursor: pointer;
    text-align: left;

    font-size: size(19px);
    line-height: size(26px);

    @include vp-1279 {
      border-radius: size(10px);

      font-size: size(16px);
      line-height: size(21px);
    }

    @include vp-959 {
      padding: size(18px) size(15px);
    }

    span {
      width: size(36px);
      height: size(42px);
      margin-right: size(19px);

      font-size: size(32px);
      line-height: size(42px);

      color: #0F69F5;

      @include vp-1279 {
        width: size(23px);
        height: size(26px);
        margin-right: size(14px);

        font-size: size(20px);
        line-height: size(26px);
      }
    }
  }

  &__control.is-active {
    pointer-events: none;
    background-color: $color-blue;

    span {
      color: $color-black-2;
    }
  }

  &__content {
    width: size(845px);
    height: size(448px);

    transition: height $trans-default;

    @include vp-1279 {
      width: size(567px);
      height: size(480px);
    }

    @include vp-959 {
      width: size(445px);
      height: size(432px);
    }

    @include vp-479 {
      width: 100%;
      height: auto;
    }

    .swiper-wrapper {
      @include vp-479 {
        display: flex;
        flex-direction: column;
        gap: size(6px);
      }
    }

    .swiper-slide {
      @include vp-479 {
        height: auto;
      }
    }
  }
}
