.projects-item {
  display: grid;

  width: calc((100% - #{size(20px)}) / 2);
  aspect-ratio: 690 / 450;

  @include vp-1279 {
    aspect-ratio: 430 / 430;
  }

  @include vp-959 {
    width: calc((100% - #{size(10px)}) / 2);
  }

  @include vp-479 {
    width: 100%;
    aspect-ratio: 290 / 359;
  }

  & > * {
    grid-area: 1 / -1;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      border-radius: size(32px);

      object-fit: cover;

      @include vp-1279 {
        border-radius: size(24px);
      }

      @include vp-959 {
        border-radius: size(18px);
      }

      @include vp-479 {
        border-radius: size(10px);
      }
    }
  }

  &__over-layer {
    border-radius: size(32px);

    transition: background-color $trans-default;

    @include vp-1279 {
      border-radius: size(24px);
    }

    @include vp-959 {
      border-radius: size(18px);
    }

    @include vp-479 {
      border-radius: size(10px);
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: size(180px);
    height: size(180px);
    border-radius: 50%;
    margin: size(10px) size(10px) auto auto;

    background-color: $color-blue;

    @include vp-1279 {
      width: size(120px);
      height: size(120px);
      margin: size(20px) size(20px) auto auto;
    }

    @include vp-959 {
      margin: size(10px) size(10px) auto auto;
    }

    @include vp-479 {
      width: size(100px);
      height: size(100px);
    }

    img {
      width: size(140px);
      height: size(140px);

      @include vp-1279 {
        width: size(90px);
        height: size(90px);
      }

      @include vp-479 {
        width: size(75px);
        height: size(75px);
      }
    }
  }

  &__text {
    margin: size(30px);
    margin-top: auto;
    padding: size(15px) size(20px) size(18px) size(20px);
    border-radius: size(14px);

    font-size: size(16px);
    font-weight: 500;
    line-height: size(22px);
    color: $color-default-white;

    background-color: rgba($color-black, 0.4);
    backdrop-filter: blur(size(50px));

    transition: color $trans-default, background-color $trans-default;

    @include vp-1279 {
      margin: size(20px);
      margin-top: auto;
      padding: size(15px);
      border-radius: size(10px);

      font-size: size(14px);
      line-height: size(20px);
    }

    @include vp-959 {
      margin: size(10px);
      margin-top: auto;
    }
  }

  @include hover-focus {
    .projects-item__over-layer {
      background-color: rgba($color-default-black, 0.5);
    }

    .projects-item__text {
      color: $color-black;
      background-color: $color-default-white;
    }
  }
}

.projects-item--airmap {
  .projects-item__logo {
    img {
      width: size(140px);
      height: size(95px);

      @include vp-1279 {
        width: size(93px);
        height: size(63px);
      }

      @include vp-479 {
        width: size(78px);
        height: size(53px);
      }
    }
  }
}

.projects-item--lg {
  .projects-item__logo {
    img {
      width: size(127px);
      height: size(60px);

      @include vp-1279 {
        width: size(84px);
        height: size(40px);
      }

      @include vp-479 {
        width: size(71px);
        height: size(34px);
      }
    }
  }
}

.projects-item--alpha {
  .projects-item__logo {
    img {
      width: size(80px);
      height: size(108px);

      @include vp-1279 {
        width: size(53px);
        height: size(60px);
      }

      @include vp-479 {
        width: size(72px);
        height: size(60px);
      }
    }
  }
}

