.properties {
  h1.title-2 {
    margin-bottom: size(67px);

    @include vp-479 {
      margin-bottom: size(36px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: size(10px);
  }

  &__wrapper {
    margin-bottom: size(80px);
  }

  &__block {
    margin-bottom: size(80px);

    @include vp-479 {
      margin-bottom: size(50px);
    }

    h3 {
      margin: 0;
      margin-bottom: 40px;
      font-size: size(32px);
      line-height: size(22px);
      //line-height:size(35px);
      color: $color-blue;

      @include vp-479 {
        margin-bottom: size(25px);
        font-size: size(22px);
      }
    }
  }

  &__group {
    margin-bottom: size(40px);

    @include vp-479 {
      margin-bottom: size(15px);
    }
  }

  &__item {
    display: flex;
    margin-bottom: size(15px);

    @include vp-479 {
      flex-direction: column;
    }

    p:first-child {
      width: size(507px);
      padding-right: size(40px);
      margin: 0;

      font-size: size(20px);
      font-weight: 500;
      line-height: size(26px);

      @include vp-479 {
        width: 100%;
        padding-right: 0;
        margin-bottom: size(5px);

        font-size: size(18px);
        line-height: size(24px);
      }
    }

    p:last-child {
      width: calc(100% - #{size(507px)});
      margin: 0;

      font-size: size(16px);
      line-height: size(22px);

      @include vp-479 {
        width: 100%;

        font-size: size(14px);
        line-height: size(18px);
      }
    }
  }
}

