.properties {
  h1.title-2 {
    margin-bottom: size(35px);

    @include vp-1279 {
      margin-bottom: size(30px);
    }

    @include vp-479 {
      margin-bottom: size(25px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: size(10px);
  }

  .properties__block + .properties__block {
    margin-top: size(80px);

    @include vp-1279 {
      margin-top: size(60px);
    }

    @include vp-959 {
      margin-top: size(50px);
    }
  }

  &__block {
    h2 {
      margin: 0;
      margin-bottom: size(40px);
      font-size: size(32px);
      // line-height: size(22px);
      line-height:size(35px);
      color: $color-blue;

      @include vp-1279 {
        margin-bottom: size(30px);

        font-size: size(20px);
        line-height: size(22px);
      }
    }
  }

  &__group {
    margin-bottom: size(40px);

    @include vp-1279 {
      margin-bottom: size(25px);
    }

    @include vp-479 {
      margin-bottom: size(40px);
    }
  }

  &__item {
    display: flex;
    margin-bottom: size(15px);

    @include vp-1279 {
      margin-bottom: size(10px);
    }

    @include vp-479 {
      flex-direction: column;
    }

    p:first-child {
      width: size(507px);
      padding-right: size(40px);
      margin: 0;

      font-size: size(20px);
      font-weight: 500;
      line-height: size(26px);

      @include vp-1279 {
        width: size(395px);

        font-size: size(16px);
        line-height: size(21px);
      }

      @include vp-479 {
        width: 100%;
        padding-right: 0;
      }
    }

    p:last-child {
      width: calc(100% - #{size(507px)});
      margin: 0;

      font-size: size(16px);
      line-height: size(22px);

      @include vp-1279 {
        width: calc(100% - #{size(395px)});
      }

      @include vp-959 {
        font-size: size(14px);
        line-height: size(22px);
      }

      @include vp-479 {
        width: 100%;
      }
    }
  }
}

