.services-item {
  display: flex;
  flex-direction: column;

  min-height: size(360px);
  padding: size(33px) size(30px) size(29px) size(30px);
  border-radius: size(32px);
  border: size(1px) solid $color-blue;

  transition: background-color $trans-default;

  @include hover-focus {
    background-color: $color-blue;

    h3 {
      color: $color-default-white;
    }

    p {
      color: $color-default-white;
    }

    .btn {
      .icon {
        color: $color-blue;

        background-color: $color-default-white;
      }

      .btn__text {
        opacity: 1;
        color: $color-default-white;
      }
    }
  }

  @include vp-1279 {
    min-height: size(226px);
    padding: size(35px) size(20px) size(20px) size(20px);
    border-radius: size(20px);
  }

  @include vp-959 {
    min-height: size(159px);
    padding: size(35px) size(20px) size(20px) size(20px);
    border-radius: size(20px);
  }

  @include vp-479 {
    min-height: auto;
    padding: size(35px) size(20px) size(20px) size(20px);
    border-radius: size(20px);
  }

  h3 {
    transition: color $trans-default;

    margin-bottom: size(25px);

    @include vp-1279 {
      margin-bottom: size(10px);
    }
  }

  p {
    display: none;
    margin: 0;
    margin-bottom: size(40px);

    font-weight: 400;
    font-size: size(16px);
    line-height: size(24px);

    transition: color $trans-default;

    @include vp-1279 {
      font-size: size(16px);
      line-height: size(24px);
    }

    @include vp-479 {
      display: block;

      font-size: size(14px);
      line-height: size(21px);
    }
  }

  .btn {
    margin-top: auto;

    .icon {
      transition: color $trans-default, background-color $trans-default;
    }

    .btn__text {
      opacity: 0;
      color: $color-black;

      transition: opacity $trans-default, color $trans-default;

      @include vp-479 {
        opacity: 1;
      }
    }
  }
}

.services-item--special {
  @media (min-width: 480px) {
    grid-column: span 2;

    p {
      display: block;
    }
  }

  @include vp-959 {
    p {
      display: none;
    }
  }

  @include vp-479 {
    p {
      display: block;
    }
  }
}
