.stages-item {
  padding: size(40px) size(30px);
  border-radius: size(24px);
  border: size(1px) solid $color-blue;
  height: size(432px);  //////

  background-color: $color-default-white;
  box-shadow: 0px size(20px) size(40px) 0px #3E60900D;

  color: $color-black;

  @include vp-479 {
    height: auto;
    padding: size(30px) size(20px);
    border-radius: size(12px);
  }

  &__header {
    display: flex;
    justify-content: space-between;

    margin-bottom: size(34px);

    @include vp-479 {
      margin-bottom: size(16px);
    }
  }

  &__number {
    display: none;

    font-size: size(20px);
    line-height: size(22px);

    @include vp-479 {
      display: block;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: size(60px);
    height: size(60px);
    border-radius: size(10px);

    background-color: $color-blue;

    @include vp-479 {
      width: size(45px);
      height: size(45px);
    }

    svg {
      width: size(32px);
      height: size(32px);

      @include vp-479 {
        width: size(24px);
        height: size(24px);
      }
    }
  }

  &__main {
    margin-bottom: size(50px);

    @include vp-479 {
      margin-bottom: size(20px);
    }

    h3 {
      margin-bottom: size(14px);

      font-size: size(32px);
      line-height: size(35px);

      @include vp-479 {
        margin-bottom: size(16px);

        font-size: size(20px);
        line-height: size(24px);
      }
    }

    p {
      margin: 0;

      font-size: size(16px);
      line-height: size(26px);

      @include vp-479 {
        font-size: size(14px);
        line-height: size(22px);
      }
    }
  }

  &__add {
    font-size: 16px;
    line-height: 27px;
    color: #9B9BB4;

    @include vp-479 {
      font-size: size(14px);
      line-height: size(22px);
    }

    P {
      margin: 0;
    }

    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
    }
  }
}

.stages-item--add {
  opacity: 0.3;
  border: none;
  height: auto;

  @include vp-479 {
    display: none;
  }

  .stages-item__header {
    display: none;
  }

  .stages-item__main {
    margin-bottom: 0;

    h3 {
      line-height: size(22px);
      margin-bottom: 0;
    }

    p {
      display: none;
    }
  }

  .stages-item__add {
    display: none;
  }
}
