.stages-item {
  padding: size(40px) size(30px);
  border-radius: size(24px);
  height: auto;
  width: 100%;
  border: none;

  background-color: $color-default-white;
  box-shadow: 0px size(20px) size(40px) 0px #3E60900D;
  color: $color-black;

  overflow: auto;

  @include vp-1279 {
    padding: size(30px);
    border-radius: size(18px);
    height: size(494px);
  }

  @include vp-959 {
    height: size(445px);
  }

  @include vp-479 {
    min-height: initial;
    padding: size(30px) size(20px);
    border-radius: size(12px);
    background-color: $color-default-white;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: size(40px);

    @include vp-1279 {
      margin-bottom: size(40px);
    }

    @include vp-959 {
      margin-bottom: size(30px);
    }
  }

  &__number {
    display: none;
    margin: 0;

    font-size: size(20px);
    line-height: size(22px);

    @include vp-479 {
      display: block;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: size(60px);
    height: size(60px);
    border-radius: size(10px);

    background-color: $color-blue;

    @include vp-959 {
      width: size(45px);
      height: size(45px);
    }

    svg {
      width: size(32px);
      height: size(32px);

      @include vp-959 {
        width: size(24px);
        height: size(24px);
      }
    }
  }

  &__main {
    margin-bottom: size(40px);

    @include vp-1279 {
      margin-bottom: size(40px);
    }

    @include vp-959 {
      margin-bottom: size(30px);
    }

    h3 {
      margin-bottom: size(14px);

      font-size: size(32px);
      line-height: size(35px);

      @include vp-1279 {
        font-size: size(20px);
        line-height: size(22px);
      }
    }

    p {
      margin: 0;

      font-size: size(16px);
      line-height: size(24px);

      @include vp-959 {
        font-size: size(14px);
        line-height: size(22px);
      }
    }
  }

  &__add {
    font-size: size(16px);
    line-height: size(24px);
    color: #9B9BB4;

    @include vp-959 {
      font-size: size(14px);
      line-height: size(20px);
    }

    P {
      margin: 0;
    }

    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
    }
  }
}

.stages-item--add {
  opacity: 0.3;
  border: none;
  height: auto;

  @include vp-479 {
    display: none;
  }

  .stages-item__header {
    display: none;
  }

  .stages-item__main {
    margin-bottom: 0;

    h3 {
      font-size: size(32px);
      line-height: size(22px);
      margin-bottom: 0;

      @include vp-1279 {
        font-size: size(20px);
        line-height: size(14px);
      }
    }

    p {
      display: none;
    }
  }

  .stages-item__add {
    display: none;
  }
}
/*
.stages-item.swiper-slide-active {
  background-image: linear-gradient(to bottom,rgba(255,255,255,1), rgba(255, 255, 255, 1));
}

.stages-item.swiper-slide-prev {
  background-image: linear-gradient(to top,rgba(255,255,255,1), rgba(255, 255, 255, 0));
}

.stages-item.swiper-slide-next {
  background-image: linear-gradient(to bottom,rgba(255,255,255,1), rgba(255, 255, 255, 0));
}

.swiper-slide-shadow-top {
  display: none;
}

.swiper-slide-shadow-bottom {
  display: none;
}
*/
