h1 {
  margin: 0;

  font-weight: 400;
  font-size: size(72px);
  line-height: size(79px);

  @include vp-1279 {
    font-size: 48px;
    line-height: 53px;
  }

  @include vp-767 {
    font-size: size(32px);
    line-height:size(42px);
  }
}

h2,
h1.title-2 {
  margin: 0;

  font-weight: 500;
  font-size: size(54px);
  line-height: size(65px);

  @include vp-767 {
    font-size: size(26px);
    line-height: size(26px);
  }
}

h3 {
  margin: 0;

  font-weight: 400;
  font-size: size(32px);
  line-height: size(35px);

  @include vp-767 {
    font-size: size(20px);
    line-height: size(22px);
  }
}
