mixin contacts-action(options)
  .contacts-action&attributes(attributes)
    if options.modal
      a(href="#", data-open-modal="message").contacts-action__mail=options.textMail
    else
      a(href=options.hrefMail).contacts-action__mail=options.textMail
    a(href=options.hrefTelegram).contacts-action__telegram
      +icon(options.iconTelegram, 47, 47)
      span.visually-hidden telegram
