mixin digital-achievements
  ul.digital-achievements(data-digital-achievements)&attributes(attributes)
    each item in digitalProductsAchievements
      li.digital-achievements__item
        p
          span(data-digital-item)!=item.amount
          span!=item.item
        p!=item.text

