mixin form()
  .form
    form(action=form.sendMessageAction, method="post", enctype="multipart/form-data")
      .form__fields
        +custom-input({
          inputPlaceholder: "Имя",
          inputName: "name",
          inputId: "name",
          inputType: "text",
        })
        +custom-input({
          inputPlaceholder: "E-mail или телефон",
          inputName: "contact",
          inputId: "contact",
          inputType: "text",
        })
        +custom-textarea({
          inputPlaceholder: "Краткое описание задачи",
          inputName: "message",
          inputId: "message",
        })
        .input-upload.input-upload--file(data-upload="file")
          label
            input(type="file", name="upload-file")
            +icon("link", 32, 32)
            span Техническое задание или файлы
      p
        | Оставляя заявку, вы соглашаетесь с
        |
        a(href="#") Политикой конфидециальности
      +btn({
        icon: "arrow",
        type: "submit",
        text: "Отправить",
      }).btn--white


