mixin intro-item(item)
  if item.icon
    .intro-item.intro-item--icon
      img(src=`./img/sprite/${item.icon}.svg`, width="55", height="55", alt=`${item.text}`)
      span.visually-hidden=item.text
  else
    .intro-item.intro-item
      span=item.text
      +icon("arrow", 20, 16)
