mixin services-page-item(options)
  .services-page-item
    .services-page-item__description
      h2.title-3=options.title
      p=options.text
      +btn({
        href: options.href,
        icon: "arrow",
        text: options.textButton,
      })(data-open-modal="message")
    .services-page-item__features
      each item in options.features
        +features-item(item)
