.container {
  width: 100%;
  max-width: size(1600px);
  margin: 0 auto;
  padding: 0 size(100px);

  @include vp-1279 {
    padding: 0 size(40px);
  }

  @include vp-959 {
    padding: 0 size(20px);
  }

  @include vp-479 {
    padding: 0 size(15px);
  }
}
