mixin header(headerMods, currentUrl)
  header.header(class=headerMods, data-header="")
    .container
      +logo()
      nav.header__nav
        ul.header__list
          each link in headerNavigation
            li.header__item
              a.header__link(href=link.href)= link.text
        +btn({
          href: headerButtonStart.href,
          icon: headerButtonStart.icon,
          text: headerButtonStart.text,
        }).btn--white.header__button-start
      +btn({
        caption: toggleLanguage.caption,
        href: toggleLanguage.href,
      }).toggle-language
      +btn({
        href: headerButtonStart.href,
        icon: headerButtonStart.icon,
        text: headerButtonStart.text,
      }).header__button-start
      button.header__burger(type="button", data-burger, aria-label="Переключатель отображения меню", aria-pressed="false")
        span
        span
        span
