- const aboutNumbersTitle = "О нас в цифрах";

-
  const aboutNumbersPictures = [
    ["content", "content-image-01", "jpg", 471, 233, "someone picture"],
    ["content", "content-image-02", "jpg", 430, 225, "someone picture"],
    ["content", "content-image-03", "jpg", 281, 172, "someone picture"],
  ];
