-
  const apisoft = {
    title: "АПИСОФТ",
    logo: ["logo", 851, 105],
    about: "Специализируемся на разработке модулей, парсеров, сложных интеграций для электронной коммерции",
    achievement: "Нам 12 лет",
  };
