-
  const careerTitleGroup = {
    title: "Карьера",
    text: "Мы гордимся своей командой",
    picture: ["content", "content-image-04", "jpg", "abstract content image"],
  };

-
  const careerVacancyList = [
    {
      href: "#",
      text: "PHP-разработчик",
    },
    {
      href: "#",
      text: "QA-инженер",
    },
    {
      href: "#",
      text: "Frontend-разработчик",
    },
  ];

- const careerVacancyListEmpty = [];

- const careerVacancyEmptyText = "На данный момент вакансий нет";
