-
  const careerTitleGroup = {
    title: "Карьера",
    text: "Мы гордимся своей командой",
    picture: ["content", "content-image-04", "jpg", "abstract content image"],
  };

-
  const careerVacancyList = [
    {
      href: "#",
      text: "PHP-разработчик",
    },
    {
      href: "#",
      text: "QA-инженер",
    },
    {
      href: "#",
      text: "Frontend-разработчик",
    },
  ];

- const careerVacancyListEmpty = [];

- const careerVacancyEmptyText = "На данный момент вакансий нет";

-
  const careerConnect = {
    text: "Если вы не нашли подходящей вакансии, но хотите у нас работать,пишите на почту",
    textButton: "hr@api-soft.com",
    icon: ["mail", 42, 30],
  };
