- const contactsTitle = "Контакты";

-
  const contactsAction = {
    hrefMail: "mailto:info@api-soft.com.ru",
    textMail: "info@api-soft.com.ru",
    hrefTelegram: "#",
    iconTelegram: "telegram",
  };

- const tel = { number: "+74994551508", text: "+7 (499) 455-15-08" };

- const address = "Москва, ул. Профсоюзная, д. 57";
