include ./header-data
include ./footer-data
include ./intro-data
include ./digital-products-data
include ./our-services-data
include ./our-projects-data
include ./our-partners-data
include ./send-message-data
include ./form-data
