include ./header-data
include ./footer-data
include ./intro-data
include ./digital-products-data
include ./our-services-data
include ./our-projects-data
include ./our-partners-data
include ./send-message-data
include ./form-data
include ./connect-us-data
include ./apisoft-data
include ./about-numbers-data

include ./our-projects-page-data
include ./our-partners-page-data
include ./career-page-data
include ./services-tech-data
include ./error-data
include ./modules-page-data
include ./vacancy-data
include ./introduction-crm-data
include ./contacts-data
include ./documents-data
include ./properties-data
include ./core-competencies-data
include ./our-principles-data
include ./project-stages-data
