include ./header-data
include ./footer-data
include ./intro-data
include ./digital-products-data
include ./our-services-data
include ./our-projects-data
include ./our-partners-data
include ./send-message-data
include ./form-data

include ./our-projects-page-data
include ./our-partners-page-data
include ./career-page-data
include ./services-tech-data
include ./error-data
include ./modules-page-data
