- const digitalProductsTitle = "Цифровые продукты от идеи до реализации";

- const digitalProductsImageText = "APISOFT — профессиональный интегратор с богатымопытом и мощной командой";

-
  const digitalProductsAchievements = [
    {
      amount: "12",
      item: "лет опыта",
      text: "Успешно разрабатываем проекты с 2011 года",
    },
    {
      amount: ">50",
      item: "проектов",
      text: "Нам доверяют LG, Альфа Банк, InSales, Lexus, Avon, QIWI",
    },
    {
      amount: ">20",
      item: "разработчиков",
      text: "Средний опыт наших разработчиков — 7 лет",
    }
  ];
