- const documentsTitle = "Документы";

-
  const documentsLinks = [
    {
      document: true,
      href: "#",
      text: "Политика конфиденциальности",
    },
    {
      document: true,
      href: "#",
      text: "Публичная оферта",
    },
    {
      download: "DOC",
      href: "#",
      text: "Пользовательское соглашение",
    },
  ];
