-
  const typographicData = [
    {
      element: "h1",
      fontName: "Golos Text DemiBold",
      fontValues: "72px / 110%",
      sample: "The quick brown fox",
      addClass: "h1",
    },
    {
      element: "h2",
      fontName: "Golos Text Medium",
      fontValues: "54px / 120%",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "h2",
    },
    {
      element: "h3",
      fontName: "Golos Text Regular",
      fontValues: "32px / 110%",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "h3",
    },
    {
      element: "h4",
      fontName: "Golos Text Medium",
      fontValues: "20px / 130%",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "h4",
    },
    {
      element: "h5",
      fontName: "Golos Text Medium",
      fontValues: "16px / 140%",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "h5",
    },
    {
      element: "text",
      fontName: "Golos Text Regular",
      fontValues: "16px / 160%",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "text",
    },
    {
      element: "text 2",
      fontName: "Golos Text Medium",
      fontValues: "24px / 160%",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "text-2",
    },
    {
      element: "btn, link",
      fontName: "Golos Text DemiBolt",
      fontValues: "16px / auto",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "link-btn",
    },
    {
      element: "цифры",
      fontName: "Golos Text Regular",
      fontValues: "64px / 130%",
      sample: "The quick brown fox",
      addClass: "numbers",
    },
    {
      element: "description",
      fontName: "Golos Text Medium",
      fontValues: "14px / 150%",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "description",
    },
    {
      element: "меню",
      fontName: "Golos Text Medium",
      fontValues: "18px / auto",
      sample: "The quick brown fox jumps over the lazy dog.",
      addClass: "menu",
    },
  ];

- const elementsText1 = "Разработаем любое решение для вашего бизнеса. Составим понятный план и проконтролируем его выполнение. Синхронизация данных корпоративного портала с продуктами 1С позволяет облегчить контроль продаж, внутренний документооборот и аналитику.";

- const elementsText2 = "Синхронизация данных корпоративного портала с продуктами 1С позволяет облегчить контроль продаж, внутренний документооборот и аналитику.";

-
  const elementsTextWithLink = {
    textBefore: "Синхронизация данных корпоративного портала с",
    textLink: "продуктами 1С",
    href: "#",
    textAfter: "позволяет облегчить контроль продаж, внутренний документооборот и аналитику.",
  };

- const elementsTextLink = "продуктами 1С";

- const elementsBlockText = "Синхронизация данных корпоративного портала с продуктами 1С позволяет облегчить контроль продаж, внутренний документооборот и аналитику.";

-
  const elementsList = [
    "Разработка ПО",
    "Внедрение CRM",
    "Поддержка",
    "Аналитика и QA",
  ];

-
  const elementsAccordionData = [
    {
      title: "Синхронизация данных",
      text: "Синхронизация данных корпоративного портала с продуктами 1С позволяет облегчить контроль продаж, внутренний документооборот и аналитику.",
    },
    {
      title: "Цифровая трансформация",
      text: "Синхронизация данных корпоративного портала с продуктами 1С позволяет облегчить контроль продаж, внутренний документооборот и аналитику.",
    },
    {
      title: "ИТ-аутсорсинг",
      text: "Синхронизация данных корпоративного портала с продуктами 1С позволяет облегчить контроль продаж, внутренний документооборот и аналитику.",
    },
  ];

-
  const elementsTable = {
    titles: ["Название", "Описание", "Преимущество"],
    data: [
      ["Синхронизация данных", "Синхронизация данных корпоративного портала ", "контроль продаж, внутренний документооборот и аналитику."],
      ["Синхронизация данных", "Синхронизация данных корпоративного портала ", "контроль продаж, внутренний документооборот и аналитику."],
    ],
  };

- const elementsErrorMessage = "Это поле обязательно для ввода";

- const elementsCasesName = ["стандарт", "ховер", "нажали", "введено", "не введено"];

