-
  const footerContacts = [
    {
      href: "mailto:info@api-soft.com",
      text: "info@api-soft.com",
    },
    {
      text: "Москва, ул. Профсоюзная, 57",
    },
    {
      href: "tel:+74994551508",
      text: "+7 499 455 15 08",
    },
  ];

-
  const footerMainNavigation = [
    {
      href: "#",
      text: "Услуги и технологии",
    },
    {
      href: "#",
      text: "Проекты",
    },
    {
      href: "#",
      text: "Модули",
    },
    {
      href: "#",
      text: "О компании",
    },
    {
      href: "#",
      text: "Контакты"
    },
  ];

-
  const footerAddNavigation = [
    {
      href: "#",
      text: "Реквизиты",
    },
    {
      href: "#",
      text: "Документы",
    },
    {
      href: "#",
      text: "Вакансии",
    },
  ];

-
  const footerAction = {
    modal: true,
    hrefMail: "#",
    textMail: "Написать нам",
    hrefTelegram: "#",
    iconTelegram: "telegram",
  };

-
  const footerInfo = [
    {
      href: "#",
      text: "Дизайн -",
      icon: "designer",
    },
    {
      href: "#",
      text: "Публичная оферта",
    },
    {
      href: "#",
      text: "Согласие на обработку данных",
    }
  ];
