-
  const logo = {
    name: "logo",
    width: 217,
    height: 25,
    href: "index.html",
    label: "перейти на главную",
    span: "logo",
  };

-
  const headerNavigation = [
    {
      href: "#",
      text: "Услуги и технологии",
    },
    {
      href: "#",
      text: "Проекты",
    },
    {
      href: "#",
      text: "Модули",
    },
    {
      href: "#",
      text: "О компании",
    },
    {
      href: "#",
      text: "Контакты"
    },
  ];

- const headerButtonStart = { href: "#", icon: "arrow", text: "Начать проект" };

- const toggleLanguage = { href: "#", caption: "EN"};




