- const introTitle = "Автоматизируем интернет-бизнес";

- const introText = "CRM, интернет-эквайринг, логистика, модули для интернет-магазинов под ключ";

- const introButtonText = "Оставить заявку";

-
  const introItems = [
    {
      icon: "item-1",
      text: "Битрикс"
    },
    {
      text: "Логистика"
    },
    {
      icon: "item-2",
      text: "Битрикс"
    },
    {
      text: "Продажи"
    },
    {
      text: "Учет",
    },
    {
      text: "Разработка",
    },
    {
      text: "Бизнес",
    },
    {
      icon: "item-3",
      text: "Битрикс"
    },
    {
      text: "Поддержка",
    },
    {
      text: "Интеграции",
    },
    {
      text: "Транспормация"
    },
    {
      text: "Аналитика"
    },
  ];
