-
  const introductionCRMData = {
    introTitle: "Внедрение CRM",
    introText: "Интеграция Битрикс24 и 1С позволяет оптимизировать процессы внутри предприятия, что повышает качество сервиса и дает удобный способ обмена данными между 1С и CRM",
    href: "#",
    textButton: "Заказать",
    features: ["Битрикс24", "RetailCRM", "МойСклад"],
    explanationTitle: "Что включает в себя интеграция Битрикс24 с 1С",
    explanationText: "Синхронизация данных корпоративного портала с продуктами 1С позволяет облегчить контроль продаж, внутренний документооборот и аналитику.",
    picture: ["content", "content-image-06", "jpg", "abstract content image"],
    casesText: "Такое внедрение необходимо когда:",
    cases: [
      "Установка модуля обмена",
      "Интеграция 1С и клиентов из CRM Битрикс24",
      "Синхронизация товаров и настройка выгрузки",
      "Настройка обмена данными по сделкам",
      "Отправка счетов из CRM в бухгалтерию и получение статуса оплаты",
      "Настройка и проверка режимов синхронизации"
    ],
  };
