-
  const modulesTitleGroup = {
    title: "Модули",
    text: "Мы как свой отдел разработки, только лучше",
    picture: ["content", "content-image-07", "jpg", "abstract content image"],
  };

-
  const modulesData = [
    {
      company: "InSales",
      modules: [
        {
          href: "#",
          title: "Альфа-банк",
          text: "Модуль эквайринга Альфа-банка",
        },
        {
          href: "#",
          title: "Мое дело",
          text: "Модуль интеграции с сервисом онлайн бухгалтерии",
        },
        {
          href:"#",
          title: "Поиск по ИНН",
          text: "Модуль автоматического заполнения реквизитов организации",
        },
        {
          href: "#",
          title: "Сегментор",
          text: "Модуль для сегментирования клиентской базы",
        },
      ],
    },
    {
      company: "Retail CRM",
      modules: [
        {
          href: "#",
          title: "Генератор QR-счетов",
          text: "Модуль для генерации QR-счетов",
        },
        {
          href: "#",
          title: "Мое дело",
          text: "Модуль интеграции с сервисом онлайн-бухгалтерии",
        },
      ],
    },
    {
      company: "Мой склад",
      modules: [
        {
          href: "#",
          title: "Генератор QR-счетов",
          text: "Модуль для генерации QR-счетов",
        },
      ],
    },
  ];

-
  const fillConnect = {
    text: "Заполните бриф для персонализированного решения вашей задачи",
    textButton: "Заполнить",
    icon: ["pencil", 32, 32],
  };
