- const ourServicesTitle = "Наши услуги";

-
  const ourServicesItems = [
    {
      title: "Разработка ПО",
      text: "Разработаем любое решение для вашего бизнеса. Составим понятный план и проконтролируем его выполнение",
      href: "#",
      buttonText: "Заказать",
    },
    {
      title: "Внедрение CRM",
      text: "Внедрим CRM-систему, выстроим на ее основе эффективную экосистиему для вашего бизнеса",
      href: "#",
      buttonText: "Заказать",
    },
    {
      title: "Поддержка",
      text: "Техническое обслуживание и забота о пользователях, которые ежедневно пользуются нашими решениями",
      href: "#",
      buttonText: "Заказать",
    },
    {
      title: "Аналитика и QA",
      text: "Проведем любую аналитику и систематизируем управление качеством вашего проекта",
      href: "#",
      buttonText: "Заказать",
    },
    {
      title: "ИТ-аутсорсинг",
      text: "Предоставим лучших ИТ-специалистов для срочных проектов",
      href: "#",
      buttonText: "Заказать",
    },
    {
      title: "Цифровая трансформация",
      text: "Поможем сформулировать целевую архитектуру проекта, учтем все нюансы и предложим лучшее решение",
      href: "#",
      buttonText: "Заказать",
    },
    {
      special: true,
      title: "Автоматизация и аудит",
      text: "Комплексно автоматизируем бизнес-процессы с фокусом нарезультат",
      href: "#",
      buttonText: "Заказать",
    },
  ];

- const ourServicesPartnersTitle = "Наши партнеры";

-
  const ourServicesPartnersItems = [
    {
      name: "PHP",
      logo: ["logo-php", 120, 120],
    },
    {
      name: "Symfony",
      logo: ["logo-symfony", 120, 120],
    },
    {
      name: "Tech Stack Logos",
      logo: ["logo-tech-stack-logos", 120, 120],
    },
    {
      name: "Python",
      logo: ["logo-python", 120, 120],
    },
    {
      name: "PostgreSQL",
      logo: ["logo-postgresql", 120, 120],
    },
    {
      name: "MySQL",
      logo: ["logo-mysql", 120, 120],
    },
    {
      name: "Elasticsearch",
      logo: ["logo-elasticsearch", 120, 120],
    },
    {
      name: "Redis",
      logo: ["logo-redis", 120, 120],
    },
    {
      name: "RabbitMQ",
      logo: ["logo-rabbitmq", 120, 120],
    },
    {
      name: "Vue JS",
      logo: ["logo-vue", 120, 120],
    },
    {
      name: "React JS",
      logo: ["logo-react", 120, 120],
    },
    {
      name: "HTML 5",
      logo: ["logo-html5", 120, 120],
    },
  ];

