- const ourPrinciplesTitle = "Наши принципы";

- const ourPrinciplesSubTitle = "APISOFT — профессиональный интегратор с богатым опытом и мощной командой";

-
  const ourPrinciplesItems = [
    {
      icon: ["our-principles-01", 32, 32],
      title: "Передовые процессы и&nbsp;технологии",
      text: "Непрерывнно совершенствуем процессы и навыки -это помогает в работе над проектами. Нам важно оставаться экспертами в своей области",
    },
    {
      icon: ["our-principles-02", 32, 32],
      title: "Прозрачность работы",
      text: "Планирование и работа над проектом ведется прозрачно для заказчика. Говорим обо всех рисках и проблемах. Честный диалог помогает проекту добиться успеха",
    },
    {
      icon: ["our-principles-03", 32, 32],
      title: "Фокус на бизнес-целях",
      text: "Мы полностью погружаемся в бизнес клиента, изучая все нюанс. Всегда ставим себя на место заказчика, при принятии решений стараемся думать как будто это наш бизнес",
    },
    {
      icon: ["our-principles-04", 32, 32],
      title: "Оптимальные цены",
      text: "Мы не задираем цены, но и не продаем их дешево. Это позволяет держать в команде настоящих профи и радовать клиентов отличными результатами",
    },
    {
      special: true,
      icon: ["our-principles-05", 32, 32],
      title: "Гарантия поддержки",
      text: "Делаем все процессы качественно и до конца, чтобы клиент был доволен результатом. А после завершения проекта пишем документацию и обеспечиваем поддержку, не оставляем клиентов один на один с разработанным модулем или системой",
    },
    {
      icon: ["our-principles-06", 32, 32],
      title: "Анализируем, потом действуем",
      text: "Любая разработка начинается с аналитики, каждый шаг должен быть целесообразен и эффективен",
    },
    {
      icon: ["our-principles-07", 32, 32],
      title: "Строгий контроль сроков",
      text: "Мы ценим время клиентов и свое время, поэтому тщательно планируем задачи и следим за сроками",
    },
  ];
