- const ourPartnersTitle = "Наши партнеры";

-
  const ourPartnersItems = [
    {
      href: "#",
      name: "Мой Склад",
    },
    {
      href: "#",
      status: "partners-item--empty",
    },
    {
      href: "#",
      name: "АТОЛ Онлайн",
    },
    {
      href: "#",
      name: "Моё дело",
    },
    {
      status: "partners-item--empty",
    },
    {
      href: "#",
      name: "Битрикс24",
    },
    {
      status: "partners-item--empty",
    },
    {
      href: "#",
      name: "RetailCRM",
    },
    {
      href: "#",
      name: "OFD.RU",
    },
    {
      status: "partners-item--empty",
    },
    {
      href: "#",
      status: "partners-item--insales",
      name: "inSales",
      logo: ["insales", 156, 45],
      arrow: true,
    },
    {
      href: "#",
      name: "Alfa-Payments",
    },
  ];
