- const ourPartnersPageTitle = "Наши партнеры";

-
    const ourPartnersPageItems = [
      {
        title: "Битрикс24",
        text: "Битрикс24 — комплект бесплатных инструментовдля ведения бизнеса: CRM, конструктор сайтови интернет-магазинов, система управления проектами, контакт-центр и единое пространство для общения сотрудников компании",
        logo: ["logo-bitriks", 120, 120],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "1С-Битрикс",
        text: "«1С-Битрикс: Управление сайтом» — самая популярная коммерческая CMS по реальным установкам на сайтахсогласно рейтингу iTrack (на март 2021 года). Сайтына платформе «1С-Битрикс» — удобные, надежныеи высоко посещаемые",
        logo: ["logo-1c", 120, 120],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "InSales",
        text: "inSales — единый инструмент управлениядля всех каналов онлайн-продаж: интернет-магазин, маркетплейсы, социальные сети и мессенджеры",
        logo: ["logo-insales", 120, 120],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "МойСклад",
        text: "МойСклад — облачный сервис управления торговлей и складом с любого компьютера. Подходит для розничной, оптовой и онлайн-торговли, а также для производства",
        logo: ["logo-mystorage", 120, 120],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "Мое дело",
        text: "«Моё дело» оповещает, как и когда платить налоги. Система рассчитывает страховые взносы, готовит платёжную и отчётную документацию, информируетоб изменениях в налоговом законодательстве и вносит соответствующие обновления в бухгалтерские проводки",
        logo: ["logo-mybusiness", 120, 120],
        href: "#",
        textButton: "Перейти на сайт",
      },
      {
        title: "RetailCRM",
        text: "RetailCRM — CRM-система для конвертации лидовиз мессенджеров и соцсетей в заказы, сбора заказовиз всех офлайн- или онлайн-источников в единый список и раздачи операторам. Позволяет доводить сделкидо конца благодаря шаблонам ответов и напоминаний",
        logo: ["logo-retailcrm", 120, 120],
        href: "#",
        textButton: "Перейти на сайт",
      },
    ];
