- const ourPartnersTitle = "Наши партнеры";

-
  const ourPartnersItems = [
    {
      status: "partners-item--empty partners-item--empty-first",
    },
    {
      href: "#",
      name: "Мой Склад",
      status: "partners-item--arrow",
      logo: ["logo-mystorage", 120, 120],
      arrow: true,
    },
    {
      href: "#",
      name: "АТОЛ Онлайн",
      status: "partners-item--arrow",
      logo: ["logo-atol", 120, 120],
      arrow: true,
    },
    {
      href: "#",
      name: "Моё дело",
      status: "partners-item--arrow",
      logo: ["logo-mybusiness", 120, 120],
      arrow: true,
    },
    {
      status: "partners-item--empty partners-item--empty-second",
    },
    {
      href: "#",
      name: "Битрикс24",
      status: "partners-item--arrow",
      logo: ["logo-bitriks", 120, 120],
      arrow: true,
    },
    {
      status: "partners-item--empty partners-item--empty-third",
    },
    {
      href: "#",
      name: "RetailCRM",
      status: "partners-item--arrow",
      logo: ["logo-retailcrm", 120, 120],
      arrow: true,
    },
    {
      href: "#",
      name: "OFD.RU",
      status: "partners-item--arrow",
      logo: ["logo-ufd", 120, 120],
      arrow: true,
    },
    {
      status: "partners-item--empty partners-item--empty-fourth",
    },
    {
      href: "#",
      name: "inSales",
      status: "partners-item--arrow",
      logo: ["logo-insales", 120, 120],
      arrow: true,
    },
    {
      href: "#",
      name: "Alfa-Payments",
      status: "partners-item--arrow",
      logo: ["logo-alfa", 120, 120],
      arrow: true,
    },
  ];
