//- const ourProjectsPageTitle = "Проекты";

//- const ourProjectsPageSubtitle = "Проекты, которыми мы действительно гордимся";

-
  const titleGroupOurProjects = {
    title: "Проекты",
    text: "Проекты, которыми мы действительно гордимся",
  };

-
  const ourProjectsPageView = [
    {
      href: "#",
      class: "insale",
      picture: ["content", "our-projects-01", "jpg", "abstract image about project"],
      logo: ["./img/svg/logo-insales.svg", 144, 41, "логотип InSale"],
      text: "Разработка IT-инфраструктуры для e-commerce, модулей для финансов, логистики и бухгалтерии для InSales",
    },
    {
      href: "#",
      class: "airmap",
      picture: ["content", "our-projects-02", "jpg", "abstract image about project"],
      logo: ["./img/svg/logo-airmap.svg", 140, 95, "логотип АэроМар"],
      text: "Разработка ПО АэроМар для продаж на борту самолета",
    },
    {
      href: "#",
      class: "lg",
      picture: ["content", "our-projects-03", "jpg", "abstract image about project"],
      logo: ["./img/svg/logo-lg.svg", 127, 60, "логотип LG"],
      text: "Разработка IT-инфраструктуры для e-commerce LG",
    },
    {
      href: "#",
      class: "alpha",
      picture: ["content", "our-projects-04", "jpg", "abstract image about project"],
      logo: ["./img/svg/logo-alpha.svg", 80, 180, "логотип Альфа"],
      text: "Разработка модулей для эквайринга Альфа Банка",
    },
    {
      href: "#",
      class: "airmap",
      picture: ["content", "our-projects-02", "jpg", "abstract image about project"],
      logo: ["./img/svg/logo-airmap.svg", 140, 95, "логотип АэроМар"],
      text: "Разработка ПО АэроМар для продаж на борту самолета",
    },
    {
      href: "#",
      class: "insale",
      picture: ["content", "our-projects-01", "jpg", "abstract image about project"],
      logo: ["./img/svg/logo-insales.svg", 144, 41, "логотип InSale"],
      text: "Разработка IT-инфраструктуры для e-commerce, модулей для финансов, логистики и бухгалтерии для InSales",
    },
  ];

