- const projectStagesTitle = "Этапы проекта";

-
  const projectStagesContent = [
    {
      number: "01",
      icon: ["project-stages-01", 32, 32],
      title: "Продуктовое интервью",
      text: "Определяем этапы работ, перечень и очередность работна каждом этапе, формируем смету и сроки реализации проекта",
      textAdd: "Обсуждаем идею, цели и задачи проекта, предлагаем решение, формируем концепцию и технические требования к разработке",
    },
    {
      number: "02",
      icon: ["project-stages-02", 32, 32],
      title: "Аналитика, составление плана работ",
      text: "Определяем этапы работ, перечень и очередность работна каждом этапе, формируем смету и сроки реализации проекта",
      listAdd: [
        "Наименование этапа работ",
        "Вид затрат",
        "Наименование отчетного документа, отражающего результат работ",
        "Сроки выполнения с разбивкой по годам и поквартально в каждом",
      ],
    },
    {
      number: "03",
      icon: ["project-stages-03", 32, 32],
      title: "Подбор команды",
      text: "Подбираем необходимых специалистов из нашего штата с релевантным опытом и компетенциями для данного проекта. Определяем роли, распределяем обязанности",
      listAdd: [
        "Наименование этапа работ",
        "Вид затрат",
        "Наименование отчетного документа, отражающего результат работ",
        "Сроки выполнения с разбивкой по годам и поквартально в каждом",
      ],
    },
    {
      number: "04",
      icon: ["project-stages-04", 32, 32],
      title: "Реализация проекта",
      text: "Выполняем разработку проекта с четким контролем качества и сроков на всех этапах. Находимся в постоянном взаимодействии и при необходимости корректируем ход работ. Выделенный менеджер всегда на связи",
      listAdd: [
        "Наименование этапа работ",
        "Вид затрат",
        "Наименование отчетного документа, отражающего результат работ",
        "Сроки выполнения с разбивкой по годам и поквартально в каждом",
      ],
    },
    {
      number: "05",
      icon: ["project-stages-05", 32, 32],
      title: "Запуск проекта",
      text: "Осуществляем финальное тестирование и отладку, передаем исходники и разворачиваем проект на продакшн-сервере. Планируем дальнейшее сопровождение и развитие продукта",
      listAdd: [
        "Наименование этапа работ",
        "Вид затрат",
        "Наименование отчетного документа, отражающего результат работ",
        "Сроки выполнения с разбивкой по годам и поквартально в каждом",
      ],
    },
  ];
