- const propertiesTitle = "Реквизиты";

-
  const propertiesLinks = [
    {
      download: "PDF",
      href: "#",
      text: "Карточка организации",
    },
  ];


-
  const propertiesData = [
    {
      title: "Карточка организации",
      propertiesSection: [
        [
          {
            propertiesName: "Полное наименование",
            propertiesValue: "Общество с ограниченной ответственностью “APISOFT”",
          },
          {
            propertiesName: "Сокращенное наименование",
            propertiesValue: "ООО “APISOFT”",
          },
        ],
        [
          {
            propertiesName: "ИНН/КПП",
            propertiesValue: "7777777777 / 7777777777",
          },
          {
            propertiesName: "ОГРН",
            propertiesValue: "777777777777777777777",
          },
          {
            propertiesName: "Классификаторы в статическом регистре",
            propertiesValue: "ОКПО 22222222 / ОКАТО 22222222222/ ОКТМО 22222222222",
          },
        ],
        [
          {
            propertiesName: "Юридический адрес",
            propertiesValue: "7777777777 / 7777777777",
          },
          {
            propertiesName: "Фактический адрес",
            propertiesValue: "777777777777777777777",
          },
        ],
        [
          {
            propertiesName: "Генеральный директор",
            propertiesValue: "Фамилия Имя Отчество ",
          },
        ]
      ],
    },
    {
      title: "Контакты",
      propertiesSection: [
        [
          {
            propertiesName: "Контактный номер",
            propertiesValue: "+7 499 455 15 08",
          },
          {
            propertiesName: "Email",
            propertiesValue: "info@api-soft.com",
          },
        ],
      ],
    },
  ];
