- const sendMessageTitle = "Оставьте заявку";
- const sendMessageSubTitle = "Опишите вашу потребность или задайте вопрос";

- const sendMessageTitleSuccess = "Заявка успешно отправлена";
- const sendMessageSubTitleSuccess = "Спасибо за заявку! В течение часа с вами свяжется менеджер";

- const sendMessageTitleError = "Ошибка";
- const sendMessageSubTitleError = "Сейчас заявка не может быть отправлена, повторите попытку позже";
