- const sendMessageTitle = "Оставьте заявку";
- const sendMessageSubTitle = "Опишите вашу потребность или задайте вопрос";

- const sendMessageTitleSuccess = "Заявка успешно отправлена";
- const sendMessageSubTitleSuccess = "Спасибо за заявку! В течение часа с вами свяжется менеджер";

- const sendMessageTitleError = "Ошибка";
- const sendMessageSubTitleError = "Сейчас заявка не может быть отправлена, повторите попытку позже";

-
  const placeholdersForm = {
    name: "Имя",
    telOrMail : "E-mail или телефон",
    textArea: "Краткое описание задачи",
  };

- const sendMessageButtonText = "Отправить";

- const sendMessagePolicy = {text: "Оставляя заявку, вы соглашаетесь с", href: "#", textHref: "Политикой конфидециальности"}

- const sendMessageInputFile = "Перетащите или нажмите, чтобы загрузить техническое задание или файлы";

- const sendMessageInputFileMobile = "Загрузите техническое задание или файлы";
