-
  const servicesTechTitleGroup = {
    title: "Услуги и технологии",
    text: "Проектируем и разрабатываем цифровые продукты от идеи до успеха",
    picture: ["content", "content-image-05", "jpg", "abstract content image"],
  };

-
  const servicesTechFeaturesList = [
    {
      title: "Разработка ПО",
      text: "Разработаем любое решение для вашего бизнеса. Составим понятный план и проконтролируем его выполнение",
      textButton: "Оставить заявку",
      href: "#",
      features: [
        "Настройка парсеров", "Модули для сайтов и интернет-магазинов", "Интерактивные виджеты", "Личный кабинет и панель администратора", "Сложные интеграции и микросервисы",
      ],
    },
    {
      title: "Автоматизация и аудит",
      text: "Комплексно автоматизируем бизнес-процессы с фокусом нарезультат",
      textButton: "Оставить заявку",
      href: "#",
      features: [
        "Аудит", "Оптимизация", "Автоматизация",
      ],
    },
    {
      title: "Внедрение CRM",
      text: "Внедрим CRM-систему, выстроим на ее основе эффективную экосистиему для вашего бизнеса",
      textButton: "Оставить заявку",
      href: "#",
      features: [
        "Битрикс24", "RetailCRM", "МойСклад",
      ],
    },
    {
      title: "Поддержка",
      text: "Техническое обслуживание и забота о пользователях, которые ежедневно пользуются нашими решениями",
      textButton: "Оставить заявку",
      href: "#",
      features: [
        "Техническая поддержка ПО", "Сопровождение DevOps",
      ],
    },
    {
      title: "Аналитика и QA",
      text: "Проведем любую аналитику и систематизируем управление качеством вашего проекта",
      textButton: "Оставить заявку",
      href: "#",
      features: [
        "Аналитика", "QA",
      ],
    },
    {
      title: "ИТ-аутсорсинг",
      text: "Предоставим лучших ИТ-специалистов для срочных проектов",
      textButton: "Оставить заявку",
      href: "#",
      features: [
        "Аутсорсинг", "Аутстафинг",
      ],
    },
    {
      title: "Цифровая трансформация",
      text: "Поможем сформулировать целевую архитектуру проекта, учтем все нюансы и предложим лучшее решение",
      textButton: "Оставить заявку",
      href: "#",
      features: [
        "Разработка ИТ архитектуры", "Цифромая трансформация ритейла",
      ],
    },
  ];
