-
  const vacancyData = {
    backHref: "#",
    textBackHref: "Карьера",
    title: "PHP-разработчик",
    description: "Наша команда в активном поиске талантливого и амбициозного тестировщика. Ищем единомышленников, чтобы вместе разрабатывать стратегию тестирования новых и старых продуктов, внедрять новые подходы к тестированию. Не стоит пугаться большого списка требований, если есть желание – всему научим!",
    features: ["Удаленная работа", "Гибкий график", "Зарплата не указана"],
    details: [
      {
        detailsTitle: "Будет плюсом",
        detailsItems: [
          "Анализировать и тестировать требования;",
          "Проводить функциональное тестирование;",
          "Оптимизировать процесс тестирования внутри команды;",
          "Разрабатывать автотесты с помощью Cucumber/RSpec/Cypress;",
          "Работать близко к продукту, понимать особенности бизнеса, уточнять требования, предлагать свои идеи, совместно принимать решения по улучшению продукта и нести за них ответственность, участвовать в создании продукта на всех этапах;",
          "Локализировать и документировать возникшие дефекты.",
        ],
      },
      {
        detailsTitle: "Условия",
        detailsItems: [
          "Анализировать и тестировать требования;",
          "Проводить функциональное тестирование;",
          "Оптимизировать процесс тестирования внутри команды;",
          "Разрабатывать автотесты с помощью Cucumber/RSpec/Cypress;",
          "Работать близко к продукту, понимать особенности бизнеса, уточнять требования, предлагать свои идеи, совместно принимать решения по улучшению продукта и нести за них ответственность, участвовать в создании продукта на всех этапах;",
          "Локализировать и документировать возникшие дефекты.",
        ],
      },
      {
        detailsTitle: "Требования",
        detailsItems: [
          "Анализировать и тестировать требования;",
          "Проводить функциональное тестирование;",
          "Оптимизировать процесс тестирования внутри команды;",
          "Разрабатывать автотесты с помощью Cucumber/RSpec/Cypress;",
          "Работать близко к продукту, понимать особенности бизнеса, уточнять требования, предлагать свои идеи, совместно принимать решения по улучшению продукта и нести за них ответственность, участвовать в создании продукта на всех этапах;",
          "Локализировать и документировать возникшие дефекты.",
        ],
      }
    ],
  }
