//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/digital-products
include ./blocks/our-services
include ./blocks/our-projects
include ./blocks/our-partners
include ./blocks/send-message
include ./blocks/introduction-crm
include ./blocks/apisoft
include ./blocks/about-numbers
include ./blocks/core-competencies
include ./blocks/our-principles

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/logo
include ./mixins/intro-item
include ./mixins/services-item
include ./mixins/projects-item
include ./mixins/partners-item
include ./mixins/form
include ./mixins/partners-page-item
include ./mixins/title-group
include ./mixins/add-block
include ./mixins/panel-link
include ./mixins/connect-us
include ./mixins/vacancy-list
include ./mixins/services-page-item
include ./mixins/features-item
include ./mixins/modules-item
include ./mixins/modules-section
include ./mixins/vacancy-item
include ./mixins/contacts-action
include ./mixins/digital-achievements
include ./mixins/principles-item
